body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  /* font-family: 'EB Garamond', serif; */
  /* font-family: "Montserrat", sans-serif; */
  font-family: "Roboto", sans-serif;
  background-color: #f6f6f6;
}

.pageWrapper {
  padding: 20px 60px 75px;
}

.productsListWrapper {
  background-color: #fff;
  background-color: #f6f6f6;
  padding-right: 8px;
  padding-bottom: 8px;
}

.cartWrapper {
  padding-top: 8px;
}

.switch :global(.MuiSwitch-switchBase.Mui-checked),
.switch :global(.MuiSwitch-switchBase) {
  color: #7c0404;
}

.switch :global(.MuiSwitch-switchBase.Mui-checked + .MuiSwitch-track),
.switch :global(.MuiSwitch-switchBase + .MuiSwitch-track) {
  background-color: #7c0404;
}

.switch :global(.MuiSwitch-switchBase.Mui-checked:hover),
.switch :global(.MuiSwitch-switchBase:hover) {
  color: #7c0404;
  background-color: transparent;
}

.link {
  text-decoration: none;
  color: #333;
  font-size: 1.1rem;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.listIcon {
  margin-right: 8px;
}

/* .winesWrapper {
  width: 60%;
}

.cartWrapper {
  width: 40%;
} */
