body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  /* font-family: 'EB Garamond', serif; */
  /* font-family: "Montserrat", sans-serif; */
  font-family: "Roboto", sans-serif;
  background-color: #f6f6f6;
}

.pageWrapper {
  padding: 20px 60px 75px;
}

.productsListWrapper {
  background-color: #fff;
  background-color: #f6f6f6;
  padding-right: 8px;
  padding-bottom: 8px;
}

.cartWrapper {
  padding-top: 8px;
}

.posWrapper {
  /* padding: 48px; */
}

.link {
  text-decoration: none;
  color: #333;
  font-size: 1.1rem;
  text-align: right;
}

/* .winesWrapper {
  width: 60%;
}

.cartWrapper {
  width: 40%;
} */
