.pageWrapper {
  padding: 100px 70px;
  background-color: #f6f6f6;
}

.goBackWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 38px;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}

.goBackWrapper p {
  margin: 0;
}

.listWrapper {
  width: 100%;
  overflow-x: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list {
  width: 800px;
}

.spinner {
  margin-top: 100px;
}

.tableHead {
  padding: 12px 24px;
  color: #333;
  font-size: 0.875rem;
  font-weight: 700;
}

.tableHead p {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .list {
    width: 100%;
  }
}
