.pageWrapper {
  padding: 100px 70px;
  background-color: #f6f6f6;
}

.goBackWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 38px;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}

.goBackWrapper p {
  margin: 0;
}

.listWrapper {
  width: 100%;
  overflow-x: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  margin-top: 100px;
}

.tableHead {
  padding: 12px 24px;
  color: #333;
  font-size: 0.875rem;
  font-weight: 700;
}

.tableHead p {
  margin: 0;
}

.columnHeaderWrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.textfield :global(.MuiInputBase-root) {
  background-color: #fff;
  border-radius: 4px;
}

.textfield :global(.MuiOutlinedInput-notchedOutline),
.textfield :global(.MuiOutlinedInput-root:hover fieldset),
.textfield :global(.MuiOutlinedInput-root.Mui-focused fieldset) {
  border: 1px solid #c0c0c0;
}

.button {
  width: 100%;
  margin-top: 8px;
  padding: 10px;
  cursor: pointer;
  font-size: 0.9rem;
  border: none;
  border-radius: 8px;
  background-color: #5384c1;
  color: #fff;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #335c8e;
}

.drawerTitle {
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #666;
  font-weight: 600;
}

.drawerSubTitle {
  font-size: 0.875rem;
  color: #666;
}

.drawer :global(.MuiPaper-root) {
  width: 80%;
  padding: 24px;
}

.closeDrawerWrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.filtersBox {
  display: flex;
  align-items: center;
}

.filterRight {
  margin-left: 16px;
}

@media screen and (max-width: 767px) {
  .list,
  .listWrapper {
    width: 600px;
  }

  .list {
    width: 600px;
    margin-right: 20px;
  }

  .pageWrapper {
    padding: 60px 20px;
  }
}

@media screen and (min-width: 768px) {
  .drawer :global(.MuiPaper-root) {
    width: 318px;
  }
}
