.detailsPageWrapper {
  padding: 60px 18px;
}

.detailsContainer {
  background-color: #fff;
  padding: 18px;
  border-radius: 8px;
}

.goBackWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 38px;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}

.goBackWrapper p {
  margin: initial;
}

.detailsContainer p {
  margin: 0;
  margin-bottom: 20px;
}

.productDetailsTitle {
  color: #666464;
  font-weight: 500;
}

.productDetailsTotalTitle {
  color: #666464;
  font-weight: 500;
}

.productDetailsTotal {
  font-weight: 800;
}

.productQuantity {
  font-size: 0.9rem;
  margin-left: 6px;
}

.productDetails {
  display: flex;
  min-width: 220px;
  justify-content: space-between;
}

.productDetails p {
  margin-bottom: 16px;
}

.totalItemPriceCrossed {
  text-decoration: line-through;
  padding-right: 14px;
}

.discountedPriceWrapper {
  display: flex;
}

.spinnerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 128px;
}

@media screen and (min-width: 768px) {
  .detailsContainer {
    padding: 72px;
  }

  .detailsPageWrapper {
    padding: 100px 70px;
  }
}
